/*
* @Author: 王zhichao
* @Date:   2017-08-30 14:11:07
* @Last Modified by:   王zhichao
* @Last Modified time: 2017-08-30 14:21:23
*/
body{
	width: 700px;
	height: 200px;
	i{
		height: 20px;
		width: 20px;
		a{
			color: red;
			font-size: 20px;
		}
	}
}